html, body
{
	margin:0;
	padding:0;
	background:#eef8f9;
	height:100%;
	font:normal 12px 'Trebuchet MS',Arial,Verdana,sans-serif;
	color:#fff;
}
div.login
{
	position:absolute;
	top:50%;
	left:50%;
	width:500px;
	height:323px;
	margin:-161px 0 0 -250px;
	background:#8ab8dc url('../img/bgs/login.jpg') no-repeat;
}
a
{
	color:#1f599f;
}
a:hover
{
	text-decoration:none;
}
img
{
	border:0;
}
div.logo
{
	padding:15px 0 0 15px;
	height:28px;
}
div.text
{
	padding:10px 60px 0 58px;
	height:36px;
}
div.form
{
	padding:20px 0 0 120px;
	height:167px;
}
div.form ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
div.form ul li
{
	float:left;
	margin:0;
	padding:15px 0 0 0;
	line-height:25px;
	min-width:80px;
}
input
{
	font:normal 13px 'Trebuchet MS',Arial,Verdana,sans-serif;
	position:relative;
	padding:2px;
	margin:0;
}
input[type="text"], input[type="password"]
{
	height:19px;
	line-height:19px;
	border:1px solid #83afce;
	background:#fff;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; 
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; 
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; 
}
input[type="text"]:focus, input[type="password"]:focus
{
	border:1px solid #3e76ba;
	background:#e2f2f3;
}
input[type="submit"]
{
	border:0;
	margin:0;
	padding:0;
	background:#6c9ec1;
	color:#fff;
	cursor:pointer;
	text-align:center;
	width:60px;
	height:26px;
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; 
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; 
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; 
}
input[type="submit"]:hover
{
	background:#4a7dbb;
	color:#ffda2f;
}
div.error
{
	background:#c45959;
}
div.copy
{
	float:left;
	padding:0 0 0 15px;
	font-style:italic;
}
div.copy a
{
	color:#ffda2f;
	text-decoration:none;
}
div.copy a:hover
{
	text-decoration:underline;
}
div.forgot
{
	float:right;
	padding:0 15px 0 0;
}
div.tip
{
	background:#c45959;
	position:absolute;
	float:right;
	margin:-99px 0 0 265px;
	width:200px;
	padding:1px;
}
div.tip .inner
{
	background:#ffeaea;
	padding:6px;
	color:#c45959;
}
div.tip-arrow
{
	position:relative;
	float:left;
	top:3px;
	margin-left:-16px;
	background:url('../img/arrows.gif') 0 -35px no-repeat;
	width:10px;
	height:11px;
	z-index:5;
}
label
{
	cursor: pointer;
}
div.logout
{
	height:143px;
	padding-top:90px;
	text-align:center;
	font-size:1.1em;
}
